/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */



.telo{
	display: flex;
}

nav{
	flex-basis: 20%;
	flex-grow: 1;
	padding: 10px;
}

header{
	padding: 10px;
}

.otoc{
	flex-basis: 80%;
	flex-wrap: wrap;

}

footer{
	flex-basis: 80%;
	padding: 10px;
}

.sloupce{
	display: flex;

}
article{
	padding: 10px;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 80%;
}
