/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


.otoc{
	display: flex;
	flex-wrap: wrap;
}

header{
	padding: 10px;
	flex-basis: 100%;
}

footer{
	padding: 10px;
	flex-basis: 100%;
}

.sloupce{
	display: flex;
	flex-grow: 1;
}

nav,
aside{
	flex-basis: 20%;
	padding: 10px;
}

article{
	flex-basis: 60%;
	padding: 10px;
}